*{
		box-sizing: border-box;
	}
	body{
		background-color: #f5b942;
	}
	h1{
		margin: 20px;
		text-align: center;
		font-family: Helvetica;
		font-weight: bold;
		font-size: 150%;
	}
	h2{
		margin: 10px;
		text-align: center;
		font-family: Helvetica;
		font-weight: 70%;
		font-size: 125%;
	}
	section{
		position: relative;
		padding: 20px;
		width: 100%;
	}
	p{
		position: relative;
		clear: right;
	}
	div{
		position: relative;
		background-color: #f56042;
		border: 1px solid;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: auto;
		text-align: center;
	}
	.profilepic{
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: auto;
	}

<!-- DESKTOP VERSION -->
@media (min-width: 992px){
	.column-lg-4{
		float: left;
		width: 33.33%;
	}
}

<!-- TABLET VERSION -->
@media (min-width: 768px) and (max-width: 991px){
	.column-md-6{
		float: left;
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}

	.column-md-12{
		float: left;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}

<!-- MOBILE VERSION -->
@media (max-width: 767px){
	.column-sm-12{
		float: left;
		width: 100;
	}
}
